#laptop {
  height: 300px;
  width: 300px;
  padding: 5px;
  margin: 5px;
}
#laptop #l-lid {
  height: 50%;
  width: 80%;
  background: #222;
  padding: 15px;
  margin: 0 auto;
  border-radius: 10px 10px 2px 2px;
  position: relative;
  border: 2px solid #cacbcd;
  border-bottom: none;
}
#laptop #l-lid #l-camera {
  height: 20px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#laptop #l-lid #l-camera #l-camera-light {
  height: 3px;
  width: 3px;
  border-radius: 50%;
  background: #e74c3c;
  margin: 0 auto;
  position: relative;
  left: 9px;
  top: -17px;
}
#laptop #l-lid #l-camera #l-camera-lense {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #2f2f2f;
  margin: 5px auto;
  position: relative;
  top: -2px;
}
#laptop #l-lid #l-lid-inner {
  height: 100%;
  width: 100%;
  background: #34352d;
}
#laptop #l-bottom {
  height: 20px;
  width: 90%;
  background: #cacbcd;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;
  padding: 3px 15px 0 15px;
  position: relative;
  overflow: hidden;
  box-shadow: inset 0px -5px 8px -2px rgba(0, 0, 0, 0.75);
}
#laptop #l-bottom #l-bottom-dent {
  position: absolute;
  width: 100%;
  left: 0;
  top: -10px;
}
#laptop #l-bottom #l-bottom-dent #l-bottom-dent-inner {
  width: 150px;
  margin: 0 auto;
  padding: 10px;
  background: #e4e5e6;
  border-radius: 10px;
}
#laptop #l-bottom .l-grill {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
}
#laptop #l-bottom .l-grill li {
  margin: 0;
  float: left;
  height: 10px;
  width: 3px;
  margin: 1px;
  background: #a3a4a8;
}
#laptop #l-bottom .l-grill#l-left {
  left: 15px;
}
#laptop #l-bottom .l-grill#l-right {
  right: 15px;
}

#terminal {
  padding: 10px;
  height: 100%;
  width: 100%;
  font-size: 15px;
}
#terminal #term-inner {
  height: 100%;
  width: 100%;
  overflow: scroll;
  height: 100%;
  width: 100%;
}
#terminal #term-inner p, #terminal #term-inner span, #terminal #term-inner input {
  font-family: 'Ubuntu Mono';
  font-size: 15px;
}
#terminal #term-inner p {
  color: white;
  padding: 0;
  margin: 0;
  float: left;
}
#terminal #term-inner p span.term-font-blue {
  color: #7a80d3;
}
#terminal #term-inner p span.term-font-green {
  color: #79d17d;
}
#terminal #term-inner p#term-output {
  width: 100%;
  float: left;
}
#terminal #term-inner #term-user-bar {
  position: relative;
  width: 100%;
  float: left;
}
#terminal #term-inner #term-user-bar p {
  position: absolute;
  top: 0;
  left: 0;
}
#terminal #term-inner #term-user-bar input {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  display: block;
  padding-left: 10px;
  color: white;
  padding-left: 55px;
  width: 100%;
}
#terminal #term-inner #term-user-bar input:focus {
  border: none;
  outline: 0;
}
#terminal #term-inner .term-left {
  float: left;
}
#terminal #term-inner #cursor {
  content: "|";
  display: block;
}
